@import "tailwindcss";

* {
  box-sizing: border-box;
}


.container{
  width: 100%;
  max-width: 1142px;
  padding: 0 16px;
  margin-left:  auto;
  margin-right:  auto;
}

.mainColor{
  color: #70737C;
}
.wrap {
  width: 320px;
  height: 320px;
  border-radius: 50%;
  padding: 14px; /* border qalinligi */

  background:
    linear-gradient(
      220deg,
      #359740,
      rgba(207, 233, 195, 0.7) 63%,
      /* rgba(220, 236, 212, 0.7) 72.62%, */
      rgb(255, 255, 255) 73%
    );
}

.wrap img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  background: white;
}

